<a href="https://colab.research.google.com/github/Arshad9999/PythonPlayground/blob/main/BasicPythonPatterns/BasicPythonPatterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pattern Problems**

#1
#1 2
#1 2 3
#1 2 3 4

In [ ]:
num= int(input("Enter the number of rows:"))
for i in range(1,num+1):
  for j in range (1,i+1):
    print(j,end=" ")
  print()

Enter the number of rows:5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

**Pattern Problems**

#*
#**
#* _ *
#* * * *

In [ ]:
num= int(input("Enter the number of rows:"))
for i in range(num):
  for j in range(i+1):
    if j==0 or j==i or i==num-1:
      print(end="* ")
    else:
      print(end="  ")
  print()

Enter the number of rows:5
*
* *
*   *
*     *
* * * * *

In [ ]:
num=int(input("Enter the number of rows : "))
for row in range(num):
  for col in range(num):
    if row==0 or col==num-1 or row==col:
      print("*",end=" ")
    else:
      print(end="  ")
  print()

Enter the number of rows : 11
* * * * * * * * * * *
  *                 *
    *               *
      *             *
        *           *
          *         *
            *       *
              *     *
                *   *
                  * *
                    *

In [ ]:
num=int(input("Enter the number of rows : "))
dig=1
for row in range(num):
  for col in range(row+1):
    print(dig,end=" ")
    dig+=1
  print()

Enter the number of rows : 10
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36
37 38 39 40 41 42 43 44 45
46 47 48 49 50 51 52 53 54 55

In [ ]:
str=input("Enter the String : ")
for row in range(len(str)):
  for col in range(row+1):
    print(str[col],end=" ")
  print()

Enter the String : PROGRAMMING
P
P R
P R O
P R O G
P R O G R
P R O G R A
P R O G R A M
P R O G R A M M
P R O G R A M M I
P R O G R A M M I N
P R O G R A M M I N G

In [ ]:
num= int(input("Enter the number of rows:"))
for i in range(num,0,-1):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

Enter the number of rows:5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1